.small-12.columns.small-centered{:style=>'text-align:center'}
  = link_to 'home', nil, :class=>'button tiny secondary', :id=>'home_nav_btn'
  = link_to 'search', search_new_path, :class=>'button tiny secondary', :remote=>true, :id=>'search_nav_btn'
  = link_to 'tours', tours_path, :class=>'button tiny secondary', :id=>'tours_nav_btn', :remote=>true
  = link_to 'create tour', new_tour_path, :class=>'button tiny secondary', :id=>'createtour_nav_btn', :remote=>true
  = link_to "logout", '/login', :method=>'delete', :class=>'button tiny secondary', :id=>'login_nav_btn'
