.row
  .row
    .small-6.columns
      %h2.subheader= @tour.name
      = link_to "Edit", nil, :class=>'button tiny secondary'
      = link_to "Delete", nil, :class=>'button tiny secondary', :confirm=>'Are you sure?'
    .small-6.columns

.row
  .small-8.columns
    %table
      %tr
        %td step
        %td name
        %td address
        %td
      - @tour.steps.each do |step|
        %tr
          %td= step.position
          %td
            %div
              = step.name
            = link_to "Photos | ", '#', :style=>'display:inline-block;', :'data-reveal-id'=>"photos_modal_#{step.id}", :class=>'photos_link'
            = link_to "Reviews", '#', :style=>'display:inline-block;'
          %td= step.address
        - content_for :modals do
          .reveal-modal{:id=>"photos_modal_#{step.id}"}
            %h3 Hello how are you.
            %a.close-reveal-modal &#215;
  .small-4.columns
    #tourmap

