.row
  .row
    .small-6.columns
      %h2.subheader= @tour.name
      = link_to "Edit", "#", :class=>'button tiny secondary'
      = link_to "Delete", "#", :class=>'button tiny secondary', :confirm=>'Are you sure?'
    .small-6.columns

.row
  .small-8.columns
    %table
      %tr
        %td step
        %td name
        %td address
        %td
      - @tour.steps.each do |step|
        %tr
          %td= step.position
          %td
            %div
              = step.name
            = link_to "Reviews | ", '#', :style=>'display:inline-block;', :'data-reveal-id'=>"reviews_modal_#{step.id}", :class=>'photos_link'
            = link_to "Photos", '#', :style=>'display:inline-block;', :'data-reveal-id'=>"reviews_modal_#{step.id}", :class=>'photos_link'
            = hidden_field_tag :reference, step.reference
          %td= step.address
        - content_for :modals do
          .reveal-modal{:id=>"reviews_modal_#{step.id}"}
            %script
              showtour.show_modal_content()
            %a.close-reveal-modal &#215;
  .small-4.columns
    #tourmap

