<!DOCTYPE html>
<html>
<head>
  <title>Tourmii</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Buenard' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <!-- load js templates -->
  <%= render :partial => 'shared/js-templates' %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_KEY']}&sensor=true" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'shared/nav' %>
  <div class="container">
    <%= yield %>
  </div>

<%= yield content_for :modals %>
 <script>
  $(document).foundation();
</script>
</body>
</html>
